body {
  background-color: #0f1115;
  color: white;
}
.nav {
  background-color: #2a4377;
}
.searchBox {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: #19181f;
  color: white;
  width: 720px;
  height: 60px;
  font-size: 30px;
  border: 0px;
  padding: 30px;
}
.nav-links {
  text-decoration: none;
  color: #707070;
}

.nav-links:hover {
  color: white;
}
