@import "../abstracts/variables";

.sidebars {
  font: $font-stack;
}

.sidebar-left {
  grid-column: 1/2;
  display: flex;
  width: 100%;
  justify-content: center;
}
.sidebar-right {
  background-color: $thirty-color;
  width: 25%;
  padding: 2%;
}
.genres-links {
  text-decoration: none;
  color: white;
}

.genres-links:hover {
  color: yellow;
  text-decoration: none;
}
