@import "../abstracts/variables";
main {
  width: 100%;
}

.home-main {
  display: grid;
  grid-template-columns: 15% 85%;
  grid-template-rows: 1fr;
}

.view {
  grid-column: 2/3;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  width: 100%;
  background-color: #19181f;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.home-films {
  width: 75%;
  padding: 2%;
}

.films-popular {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  padding-bottom: 10px;
}

.popular-movies:nth-of-type(n + 2) {
  margin-top: 25px;
}

.card {
  flex: 0 0 200px;
  display: inline-block;
  color: #0f1115;
  height: 303px;
}

.card:nth-of-type(n + 2) {
  margin-left: 10px;
}

.card img {
  height: 300px;
  width: 100%;
}

.card-text {
  color: white;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card-img-text {
  position: absolute;
  top: 1;
  left: 0;
  right: 0;
  bottom: 0;
  padding-top: 1.15em;
  padding-left: 1.15em;
  padding-right: 1.15em;
  padding-bottom: 0.4em;
}
