.film-detail {
  background-color: $thirty-color;
  border-radius: 10px;
  padding: 20px;

  .film-detail-card {
    display: flex;
  }
  .card {
    max-width: 700px;
  }
  .card-text {
    color: black;
  }
  .film-detail-img {
    width: 20rem;
  }
  .card-body {
    width: 25rem;
  }
}
