@import "abstracts/variables";
@import "layout/navigation";
@import "pages/home";
@import "components/film";
@import "components/film-detail";
@import "components/searchResults";
@import "components/filmFromGenres";
@import "components/page-changer";
@import "pages/about";
@import "layout/sidebars";
@import "layout/footer";

body {
  background-color: $primary-color;
  color: white;
  font: $font-stack;
}
