@import "abstracts/variables";
@import "base/reset";
@import "layout/navigation";
@import "pages/home";
@import "pages/about";
@import "layout/sidebars";
@import "layout/footer";

body {
  background-color: $primary-color;
  color: white;
  font: 100% $font-stack;
  font-size: 16px;
}
